<article class="teaser teaser--petition">
    <a href="http://petition.rettetdiekivi.de" target="_blank">
        <img src="/images/teaser_petition.svg" class="teaser__image" />
    </a>
    <h3>
        <a href="http://petition.rettetdiekivi.de" target="_blank">
            Unsere Petition
        </a>
    </h3>
    <h5>
        <a href="http://petition.rettetdiekivi.de" target="_blank">
            Gib uns Deine Unterschrift, damit unsere Forderungen bei Politik, Kirche und Verwaltung Gehör finden!
        </a>
    </h5>
    <h5 class="button-style">
        <a href="http://petition.rettetdiekivi.de" target="_blank">
            <span>hier unterschreiben</span>
        </a>
    </h5>
</article>
