<article class="teaser teaser--lichter">
    <a href="/events/2022-11-05-lichter-fuer-inklusion.html">
        <img src="/images/lichter_fuer_inklusion.svg" class="teaser__image" />
    </a>
    <h3>
        <a href="/events/2022-11-05-lichter-fuer-inklusion.html">
            Lichter für Inklusion
        </a>
    </h3>
    <h5>
        <a href="/events/2022-11-05-lichter-fuer-inklusion.html">
            Laternenumzug für mehr Teilhabe von Menschen mit Behinderung und den Erhalt der Kindervilla Fruchtallee
        </a>
    </h5>
    <h4>
        <a href="/events/2022-11-05-lichter-fuer-inklusion.html">
            Samstag, 5.11.2022<br />
            <span class="headline-white">16:30 Uhr</span><br />
            <span class="headline-white">Else-Rauch-Platz</span>
        </a>
    </h4>
</article>
