<article class="teaser">
  <a href="/protest/2022-06-18-festival-der-inklusion.html">
      <img src="/images/teaser.svg" class="teaser__image" />
  </a>
  <h3>
      <a href="/protest/2022-06-18-festival-der-inklusion.html">
          Festival der Inklusion
      </a>
  </h3>
  <h5>
      <a href="/protest/2022-06-18-festival-der-inklusion.html">
        Familienfest mit Bühnenprogramm, Spiel, Spass, Essen und Trinken rund um die Fruchtallee 22
      </a>
  </h5>
  <h4>
      <a href="/protest/2022-06-18-festival-der-inklusion.html">
          Samstag, 18.6.2022<br />
          <span class="headline-white">12:00 Uhr</span><br />
          <span class="headline-white">Eintritt frei!</span>
      </a>
  </h4>
</article>