<article class="teaser">
  <a href="/protest/2022-06-18-soli-marsch.html">
      <img src="/images/teaser.svg" class="teaser__image" />
  </a>
  <h3>
      <a href="/protest/2022-06-18-soli-marsch.html">
          Soli-Marsch für Inklusion
      </a>
  </h3>
  <h5>
      <a href="/protest/2022-06-18-soli-marsch.html">
        Wir laden alle kleinen und großen Hamburger*innen ein mit uns für Inklusion auf die Straße zu gehen.
      </a>
  </h5>
  <h4>
      <a href="/protest/2022-06-18-soli-marsch.html">
          Samstag, 18.6.2022<br />
          <span class="headline-white">Start 10:30 Uhr</span><br />
          <span class="headline-white">Beim Grünen Jäger</span>
      </a>
  </h4>
</article>