<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{ site.title }} – {{ page.title }}</title>
    <meta property="og:locale" content="de_DE" />
    <meta property="og:site_name" content="Rettet die KiVi" />
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" content="https://www.rettetdiekivi.de/images/og_image.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.rettetdiekivi.de" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#c90078">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#b20072">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="https://use.typekit.net/kor6eez.css">
    <link href="/stylesheets/rdk.css" rel="stylesheet" type="text/css">
</head>
<body>
<header class="main-header content-flow">
    {{ page.header_content }}
</header>
<div class="content-flow {{ page.content_class }}">
    {{ content }}
</div>
<footer class="main-footer">
    <div class="footer-flow content-flow">
        <div class="footer-column">
            <h3 id="kontakt">Bring Dich ein</h3>
            <p class="p-important">Nimm Kontakt auf, folge uns auf Social Media und teile unsere Inhalte!</p>
            <a href="mailto:kontakt@kivifruchtallee.de" class="profile">
                <img src="/images/mail.svg" alt="Briefumschlag">
                kontakt@kivifruchtallee.de
            </a>
            <a href="https://www.instagram.com/kindervilla_fruchtallee" class="profile" target="_blank">
                <img src="/images/instagram.svg" alt="Instagram">
                kindervilla_fruchtallee
            </a>
            <a href="https://www.twitter.com/kivifruchtallee" class="profile" target="_blank">
                <img src="/images/twitter.svg" alt="Twitter">
                kivifruchtallee
            </a>
            <a href="https://www.facebook.com/KiViFruchtallee" class="profile" target="_blank">
                <img src="/images/facebook.svg" alt="Facebook">
                KiViFruchtallee
            </a>
        </div>
        <div class="footer-column">
            <h3>Impressum</h3>
            <h4>Kindervilla Fruchtallee e.V.</h4>
            <p>
                Fruchtallee 22
                <br />
                20259 Hamburg
                <br />
                Tel: +49 40 4 91 01 57
                <br />
                Fax: +49 40-4 91 01 57
                <br />
                E-Mail: <a href="mailto:kontakt@kivifruchtallee.de">kontakt@kivifruchtallee.de</a>
            </p>
            <p>
                Päd. Leitung: Sabine Maus
                <br />
                Vereinsvorsitz: Jörn Springer
                <br />
                Registergericht: Amtsgericht Hamburg
                <br />
                Registernummer: VR 12747
            </p>
        </div>
    </div>
</footer>
<nav class="main-nav">
    <ul>
        <li><a href="/#petition">Petition</a></li>
        <li><a href="/events/2022-11-05-lichter-fuer-inklusion.html">Demo</a></li>
        <li><a href="/events/2022-06-18-festival-der-inklusion.html">Fest</a></li>
        <li><a href="https://www.betterplace.org/de/projects/103416-unsere-inklusions-kita-vor-dem-aus-wir-brauchen-eure-hilfe" target="_blank">Spenden</a></li>
        <li><a href="#kontakt">Kontakt</a></li>
        <li><a href="/#standpunkt">Standpunkt</a></li>
        <li><a href="/#immobiliensuche">Immobilie</a></li>
    </ul>
</nav>
</body>
</html>
